---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>University of Mississippi, Department of Political Science</h2>

<h3>Graduate Instructor</h3>

{% for post in site.teaching reversed %}
  {% if post.type == "Instructor of Record" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h3>Teaching Assistant</h3>

{% for post in site.teaching reversed %}
  {% if post.type == "Teaching Assistant" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
